@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:wght@100;200;300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  body.lock {
    overflow: hidden;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-ms-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
.main__content{
  width: 100%;
  margin-top: 100px;
}
.content__block{
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 35px;
}
.content__block section{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider__block{
  width: 100%;
  height: calc(100vh - 110px);
}




::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 17px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #8a3941;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles**********************/


.burger-menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #8a3941;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 80px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  right: -270%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}
.burger-menu_link {
  padding: 18px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #8a3941;
  border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.burger_menu__img{
  width: 100%;
  display: flex;
  align-items: center;
padding-left: 15px;
margin-bottom: 15px;
}
.burger_menu__img img {
  width: 50%;
}
.burger_menu__all_rights{
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}
.burger_menu__all_rights p {
  color: #8a3941;
}
.mobile__language{
  width: 150px;


  height: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.mobile__language a {
  font-size: 25px;
  background-color: #8a3941;
  color: #fff;
  padding: 7px 14px;
  border-radius: 7px;
}
.mobile__line{
  width: 100%;
  height: 1px;
  border-bottom: 2px solid rgba(39, 48, 73, 0.24) ;
  margin-left: 20px;
}

.header__container {
height: 100px;
width: 100%;
background-color: rgba(255, 255, 255, 1);
position: fixed;
top: 0;
z-index: 5;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.header__wrapper {
width: 95%;
margin: 0 auto;
display: flex;
justify-content: space-between;
height: 100%;
}
.header__image {
width: 20%;

display: flex;
height: 100%;
align-items: center;
justify-content: center;
}
.header__image a {
display: flex;
width: 100%;
height: 50%;
align-items: center;
justify-content: center;
}
.header__image a img {
  width: 100%;

}
.header__nav_wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}
.header__nav__element {
margin-right: 74px;
}
.header__nav__element a {
color: #8a3941;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-decoration: none;
padding: 5px 0px;
}
.header__nav__element a:hover {
border-bottom: 2px solid #8a3941;
}
.header__nav__element_language {
}

.dropdown-container {
position: absolute;
top: 32%;
}

.dropdown {
padding: 10px;
border-radius: 0.5px;
width: 50px;
display: flex;
justify-content: space-around;
font-size: 1.1rem;
cursor: pointer;
font-weight: 600;
border: 1px solid #8a3941;
color: #8a3941;
border-radius: 3px;
}

.fa-caret-down {
position: relative;
top: 0px;
font-size: 1.3rem;
margin-left: 4px;
transition: transform 0.3s ease;
}

.rotate-dropdown-arrow {
transform: rotate(-180deg);
}

.dropdown-menu {
display: none;
flex-direction: column;
border-radius: 4px;

width: 50px;

box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
background: #fafafa;
transform-origin: top left;
}

.dropdown-menu a {
font-size: 15px;
padding: 10px;
flex-grow: 1;
width: 100%;
box-sizing: border-box;
text-align: center;
cursor: pointer;
transition: background 0.3s ease;
}
.dropdown-menu a:hover {
background: #eee;
}

#openDropdown:checked + .dropdown-menu {
display: flex;
animation: openDropDown 0.4s ease 0s 1 forwards;
}

@keyframes openDropDown {
from {
  transform: rotateX(50deg);
}
to {
  transform: rotateX(0deg);
}
}


.mobile__burger_block{
  display: none;
  visibility: hidden;
}
/*****************Slider block**********************/
/*****************Slider block**********************/
/*****************Slider block**********************/
.slider__content__conainer {
  width: 100%;
  position: relative;
  height: 100%;

}
.slider__content__image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.slider__content__image img{
  height: 100%;
  object-fit: cover;
}
.slider__content__text {
  position: absolute;
  top: 40%;
  font-weight: 600;
  z-index: 3;
  right: 2%;
  width: 50%;
  height: 150px;
  color: #222222;
  font-size: 45px;
  
  line-height: 65px;
}
.slider__content__text2{
  color: #F5F5F5;
}

.slider__content__text span {
  color: #8a3941;
  font-family: 'Allison', cursive;
  font-size: 60px;
}
.slider__content__text2 span {
  color: #F5F5F5;
}
.slider__content__text3{
  color: #8a3941;
  top: 15%;

}
.slider__content__text3 span{
  color: #8a3941;
}
/****************about block************************/
/****************about block************************/
/****************about block************************/
/****************about block************************/
/****************about block************************/

.content__block_about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__wrapper {
  width: 80%;
  margin: 0 auto;
  height: 600px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
}
.about__image__container {
  width: 47%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}
.about__image__container img {
  height: 100%;
  object-fit: cover;
}
.about__content__container {
  width: 47%;
  font-size: 14px;
  text-align: left;
}
.about__content__namedesc {
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 16px;
}
.about__content__line{
  width: 80px;
  height: 2px;
  background-color: #8a3941;
  margin-bottom: 15px;
}
.about__content__name {
  margin-top: 20px;
  font-size: 35px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 45px;
}
.about__content__name span {
  color: #8a3941;

}
.about__content__desc {
  margin-top: 25px;
  font-size: 16px;
  line-height: 25px;
}
.block__content__main__name{
  padding-top: 2em;
  margin-bottom: 2em;
  color: #222222;
  font-size: 30px;
  font-weight: 500;
}


.block__content__main__name_about{
  font-size: 35px;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}
.about__content__link{
  margin-top: 3.5em;
}
.about__content__link a {
  background-color: #8a3941;
  font-size: 17px;
  color: #fff;
  border-radius: 25px;
  padding: 10px 28px;
  border: 2px solid #8a3941;
}
.about__content__link a:hover{
  background-color: #fff;
  color: #8a3941;
}
/*************About Servis Page********************/
/*************About Servis Page********************/
/*************About Servis Page********************/
.sertificates__content__block {
  margin-top: 110px;
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
}
.sertificates__content__name {
  margin-top: 2em;
  padding-top: 2em;
  width: 100%;
  text-align: center;
  font-size: 34px;
  color: #8a3941;
}
.sertificates__content__elements__wrappper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.sertificates__content__element {
  padding: 10px;
  margin: 15px;
  width: 40%;
  height: 100%;
  overflow: hidden;

}
.sertificates__content__element a{
  display: block;
  width: 100%;
  height: 100%;
}
.sertificate__content__image{
  width: 100%;
  height: 100%;
}
.sertificate__content__image img {
  width: 100%;
  object-fit: contain;
}

/*************Servicess****************************/
/*************Servicess****************************/
/*************Servicess****************************/

#element2{

  width: 100%;
  height: 100%;
  background-image: url('../imgs/servis.jpg') ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#element2 .block__content__main__name{
  color: #eee;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services__main__block__wrapper{
  width: 100%;
  height: 100%;
  background-color: #8a394193;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__content__container {
  width: 80%;
  margin: 0 auto;
}
.block__content__main__line{
  width: 100px;
  height: 2px;
  background-color: #fafafa;
  margin-bottom: 2.2em;
}
.services__content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 450px;
  margin-top: 2em;
}
.services__content__element {
  width: 23%;
  background-color: #fafafa;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.services__element__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__element__image_img {
  width: 100%;
  height: 45%;
position: relative;
}
.services__element__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  
}
.services__element__image img {
  max-width: 100%;
  height: auto;
}
.services__element__small_image {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8a3941;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  font-size: 28px;
}
.services__element__small_image img {
  width: 30px;
  height: 30px;
}
.services__element__content {
  font-size: 5px;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 18px;
  justify-content: space-between;
}
.services__element__name {
  font-size: 25px;
  font-weight: 400;
}

.services__element__line {
  height: 2px;
  width: 60px;
  background-color: #8a3941;

}
.services__element__text{
  font-size: 14px;
  line-height: 24px;
  max-height: 75px;
  overflow: hidden;
}
.services__element__link {
  width: 100%;
  margin-bottom: 15px;
}
.services__element__link a {
  background-color: #8a3941;
  font-size: 17px;
  color: #fff;
  border-radius: 25px;
  padding: 10px 17px;

}

/****************Prices wrapper*************************/
/****************Prices wrapper*************************/
/****************Prices wrapper*************************/
/****************Prices wrapper*************************/
.content__main__prices__page_wrapper {
  width: 100%;
  height: 100%;

  font-size: 12px;
}
.block__content__main__name {

}
.block__content__main__name_prices{
  color: #8a3941;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 34px;
}
.prices__block__wrapper {
  width: 350px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.prices__block__element__name {
  margin-top: 5px;
  font-weight: 600;
  width: 100%;
  text-align: left;
  padding: 7px;
  font-size: 23px;
  color: #8a3941;
  border-bottom: 1px solid #22222211;
}
.prices__block__element {
  width: 100%;
  padding: 7px;
  font-size: 18px;

  border-bottom: 1px solid #22222211;
  display: flex;
  justify-content: space-between;
}
.prices__block__element_desc {

  color: #222222;
}
.prices__block__element_desc:nth-child(2){
  color: #8a3941;
}
.prices__block__wrapper__wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/*****************contact**************************/
/*****************contact**************************/
/*****************contact**************************/
/*****************contact**************************/
/*****************contact**************************/
#element4{
  width: 100%;

}
.contact__main__block__wrapper {

  width: 100%;
  height: 100%;
}

.block__content__main__name_contact {
  margin-bottom: 1.5em;
  padding-top: 1em;
  font-size: 35px;
  
}
.contact__block__map_wrapper {
  width: 100%;
  height: 100%;

  position: relative;
}
.contact__map__block {
  position: absolute;
  width: 100%;
  height: 100%;
}
.contact__map__contact__info {
  z-index: 3;
  position: absolute;
  top: 8%;
  left: 15%;
  width: 20%;
  height: 75%;
  font-size: 10px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.contact__with__block {
  width: 100%;
  height: 100%;
  padding: 15px;

}
.contact__with__desc {
  color: #8a3941;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact__with__us__wrapper {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__with__us__desc_text{
  font-size: 15px;
  line-height: 24px;
}
.contact__with__us__working_hours {
  width: 100%;

}
.working__hours__element {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #22222211;
  padding: 9px 0px;
  font-size: 17px;
}
.working__hours__element p {
  color: #8a3941;
}
.contact__with__us_element {
  width: 100%;
  margin-top: 8px;
}
.contact__with__us_element__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.contact__with_us__element__img {
  width: 50px;
  height: 50px;
  background-color: #8a3941;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.fa {
}
.fa-map-marker {
}
.contact_with__us__data {
  height: 100%;

  width: 70%;
  text-align: left;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.contact__with__us__desc {
  font-size: 18px;
  color: #8a3941;
}
.contact__with__us__adress {
  font-size: 16px;
}
.contact__with__us__number{
  font-size: 14px;
  line-height: 20px;
}
.contact__with__us__social__wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 15px;
}
.contact__with__us__social__img a{
  display: block;
  background-color: #fafafa;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #8a3941;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  transition: ease-in-out 0.2s;
}
.contact__with__us__social__img a:hover{
  background-color: #8a3941;
  color: #fafafa;
}
.fa-whatsapp {
}
.fa-facebook {
}
.fa-instagram {
}
.fa-telegram {
}
/*****************Footer*******************/
/*****************Footer*******************/
/*****************Footer*******************/
/*****************Footer*******************/
.content__footer__block {
  width: 100%;
  background-color: #8a3941;
  color: #fafafa;
  height: 80px;
}
.footer__content__wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__block{
  text-align: center;
  line-height: 20px;
}
.footer__block a{
  color: #F5F5F5;

}
@media only screen and (max-width: 1680px){
  .contact__map__contact__info{
    left: 6%;
    width: 27%;
    height: 75%;
  }
  .services__content__container {
    width: 85%;
  }
  .about__wrapper {
    width: 85%;
  }
} 
@media only screen and (max-width: 1450px){
  .header__container {
    height: 70px;
  }
  .main__content {
    margin-top: 70px;
  }
  .slider__block {
    height: calc(100vh - 70px);
  }
  .header__nav__element a {
    font-size: 20px;
  }
  .about__image__container {
    width: 50%;
  }
  .contact__map__contact__info{
    height: 68%;
  }
  .working__hours__element {
    font-size: 17px;
  }
  .contact__with__us__adress {
    font-size: 15px;
  }
  .contact__with_us__element__img{
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .contact__with__us__social__img a {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1370px){
  .block__content__main__name_about {
    margin-bottom: 0.9em;
    font-size: 28px;
  }
  #element1{
    padding-top: 1em;
  }
  .about__content__container {
    width: 43%;
  }
  .content__block{
    height: calc(100vh -15px);
  }
  .about__content__name {
    font-size: 29px;
    line-height: 34px;
  }
  .block__content__main__line {
    margin-bottom: 0em;
  }
  .services__content__wrapper {
    margin-top: 1em;
  }
}


@media only screen and (max-width: 1199.98px) {
.header__nav__element {
  margin-right: 40px;
}
}
@media only screen and (max-width: 769px) {
/********header***************/
.header__nav_wrapper {
  display: none;
  visibility: hidden;
}
.mobile__burger_block {
  display: initial;
  visibility: visible;
}
.header__image{
  width: 40%;
}
.header__image a {
  width: 78%;
}
.header__image img {
  width: 70%;
}

}
@media only screen and (max-width: 620px){
.converter__wrapper__block{
  width: 95%;
}
.services__element{
  height: 390px;
}
.services__element_auto{
  height: 500px;
}
.services__element__block{
  width: 75%;
  
}
.about__element_block{
  padding-top: 25px;
  width: 70%;
}
.about_wrapper{
  margin-top: 2em;
}
.swpr_sld_content_blockname {
  font-size: 40px;
  line-height: 60px;
}
.swpr_sld_content_desc{
  font-size: 26px;
  line-height: 31px;
}
.auto__kredit img {
  width: 100%;
}
.about__element_block {
  margin-top: 3em;
}
.services__desc__block {
  height: 66%
}
.services__element_auto {
  height: 430px;
}
.about__element__wrapper{
  min-height: 395px;
  height: 395px;
}
}
@media only screen and (max-width: 427px) {
.main__slider_block{
  min-height: 88vh;
}
.block__content__services {
  width: 100%;
}
.element__name {
  font-size: 30px;
}
.services__element {
  padding: 13px;
}
.services__money_number {
  font-size: 27px;
}
.services__desc__element__image img {
  width: 100%;
}
.services__desc__element__image {
  margin-right: 7px;
}
.services__desc__element__text {
  font-size: 15px;
}
.element__line {
  margin-top: 1.1em;
}
.services__desc__element:first-child {
  margin-top: 12px;
}
.services__main_name {
  font-size: 40px;
  line-height: 100%;
}
.services__wrapper {
  margin-top: 45px;
  justify-content: space-around;
}
/******************/
.footer__content__wrapper {
  flex-direction: column;
}
.footer__content__text {
  width: 100%;
  display: none;
}
.footer__content__textwrapper {
  margin-bottom: 3em;
}
.contact-button {
}
.contact-button img {
  width: 70px;
  height: 70px;
}
/**************************/
.swpr_sld_content_blockname {
  padding-left: 25px;
  border-left: 2px solid rgba(106, 128, 207, 1);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 15px;
}
.swpr_sld_content_desc {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
}
.swiper__slide_content_dontainer {
  position: absolute;
  z-index: 20;
  background-color: #2730497a;
  bottom: 8%;
  left: 9%;
  width: 84%;
  padding: 18px;
}
.swiper-button-next {
  display: none;
  visibility: hidden;
}
.swiper-button-prev {
  display: none;
  visibility: hidden;
}
.about__element_block {
  width: 100%;
}  
.about_wrapper{
  justify-content: space-evenly;
}
.block__content__about{
  width: 100%;
}
.converter__wrapper__block{
  width: 100%;
}
.about__image_block {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about__image_block img {
  height: 100%;
  object-fit: cover;
}
.converter__wrapper__name {
  font-size: 44px;
  line-height: 107%;
}
.about__main_name{
  font-size: 44px;
}
.footer__content__image {
  width: 60%;
}
.about_wrapper {
  margin-top: 0.5em;
}
.services__desc__block__additional p {
  font-size: 13px;
  font-weight: 400;
}
.about__element__name {
  font-size: 27px;
}

}
@media only screen and (max-width: 376px) {
.services__element__block {
  width: 95%;
}
.services__desc__element__image {
}
.services__desc__element__text {
  font-size: 14px;
}
.services__desc__element {
  margin-top: 11px;
}
.services__element {
  padding: 11px;
}
.services__desc__element__image {
  width: 18px;
  height: 18px;
}
.element__line {
  margin-top: 1em;
}
.services__desc__element:first-child {
  margin-top: 12px;
}
.services__element__block {
  padding: 0 6px 15px;
}
.services__element {

}
.services__element_auto{
  height: 475px
}
.header__container {
  height: 89px;
}
}
